{% extends "base.html" %}
{% load static %}

{% block main %}

   {% include 'food_blog/components/_slider.html' %}     
   {% include 'food_blog/components/_about_us.html' %}     
   <!-- {% include 'food_blog/components/_features.html' %}      -->
   {% include 'food_blog/components/_portfolio.html' %}     
   {% include 'food_blog/components/_ourpakeg.html' %}     
   {% include 'food_blog/components/_mobileapps.html' %}     
   {% include 'food_blog/components/_footer_widget.html' %}     

{% endblock %}